.favorites-container {
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  justify-items: flex-start;
}
.movie-list:only-child {
  grid-template-columns: 1fr;
  justify-content: center;
}

.movie-item {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
}

.movie-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-poster {
  /* width: 300px; */
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 8px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-meta {
  font-size: 1rem;
  margin: 5px 0;
}

.movie-meta strong {
  font-weight: bold;
}

.heart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 10px;
}

.heart-icon:hover {
  color: red;
}

.no-favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.no-favorites-container p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #555;
}

.browse-movies-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid red;
  transition: all 0.3s ease;
}

.browse-movies-link:hover {
  color: black;
  background-color: white;
  border-color: red;
}
